﻿
@{
    ViewBag.Title = "AddUniversity";
}

<h2>Add University</h2>

@using (Html.BeginForm("AddUniversity", "Home",
                                    FormMethod.Post, null))
{
    <div>
        <br />University Name : <br />
        <input type="text" name="uniname" value="">
        <br><br>
        <input type="submit" value="Submit">
    </div>
}

