﻿
@{
    ViewBag.Title = "AddVehicle";
}

<h2>Add Vehicle</h2>

<div class="container body-content">
    @using (Html.BeginForm("AddVehicle", "Home",
                        FormMethod.Post, null))
    {
        <div>
            <br />Driver Name : <br />
            <input type="text" name="drivername" value="">
            <br>Routes : <br />
            <input type="text" name="routes" value="">
            <br>Trip Time : <br />
            <input type="text" name="triptime" value="">
            <br>University Name : <br />
            <input type="text" name="uniname" value="">
            <br>Route Coordinate(Use space between latitude and logitude and semicolon between two entry : <br />
            <input type="text" name="routecoords" value="">
            <br><br>
            <input type="submit" value="Submit">
        </div>
    }

</div>

