﻿
@{
    ViewBag.Title = "AdminHome";
}

<h2>Admin Home</h2>

<div class="container">
    <button >@Html.ActionLink("Add a vehicle", "AddVehicle", "Home", new { area = "" }, null)</button>
    <br/><br/>
    <button>@Html.ActionLink("Add an university", "AddUniversity", "Home", new { area = "" }, null)</button>
</div>
