﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="container body-content">
    @using (Html.BeginForm("Login", "Home",
                FormMethod.Post, null))
    {
        <div>
            <br/>User Name or email: <br/>
            <input type="text" name="firstname" value="">
            <br>Password <br/>
            <input type="password" name="lastname" value="Mouse">
            <br><br>
            <input type="submit" value="Submit">
        </div>
    }

</div>


